{{! ADD COMMON TAGS HERE FOR SIDEBAR }}
{{! REMOVE THE DEFAULT TAGS BELOW IF NOT USED }}
{{! COPY AN EXAMPLE TAG AND REPLACE THE TAG WORD IN THE /tag/ and > < SECTIONS }}
{{! REPLACE SPACES IN TAGS WITH '%20' IN THE URL eg. 'Frontend%20Development' }}

<ul class="tags_list">
	{{! <li><a href="/tag/taghere">taghere</a></li> }}
	<li><a href="{{@blog.url}}/tag/digital%20nomad">Digital Nomad</a></li>
	<li><a href="{{@blog.url}}/tag/startups">Startups</a></li>
	<li><a href="{{@blog.url}}/tag/philosophies"></a>Philosophies</li>
	<li><a href="{{@blog.url}}/tag/ux"></a>UX</li>
	<li><a href="{{@blog.url}}/tag/apps"></a>Apps</li>	
</ul>